.container {
    max-width: 1000px;
    padding: 0 40px;
}

.Home-divider {
    position: absolute;
    bottom: -1px;
    width: 100%;
    transform: rotate(180deg);
}

.Home-divider-top {
    position: absolute;
    top: -1px;
    width: 100%;
}

.Home-divider img, .Home-divider-top img {
    width: 100%;
}

.Home {
    position: relative;
}