.Home-images {
    text-align: center;
    padding: 60px 0;
    display: flex;
    justify-content: center;
}

.Home-images-wrapper {
    display: flex;
    justify-content: space-between;
    padding-bottom: 60px;
}

.Home-images-wrapper img {
    width: 24%;
}